@charset "UTF-8";

/* Estilo para TELAS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgoldenrodyellow;
}

header h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: gray;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: darkslategray;
    color: white;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}